#fotos #grid
{
	overflow: auto;
}

#fotos #grid .foto
{
	width: 30%;
	margin-right: 5%;
	margin-bottom: 1%;
	float:left;
	text-align:center;
}

#fotos #grid .foto:nth-child(3n+3)
{
	margin-right: 0%;
	background-color: #000; 
}

