#Header
{
	background-color: #CC3300;
	padding: 1% 1%;
}

#Header #logo
{
	float:left;
}

#Header #search
{
	float:right;
}

#Header #row
{
	overflow: auto;
}

.line
{
	background-color: #000000;
	height: 10px;
}