#footer
{
	background-color: #CC3300;
	padding-top: 1%; 
	padding-bottom: 1%;

}

#footer div
{
	margin: 0% 1% 0% 1%;
}

#footer #row
{
	overflow: auto;
}

#footer #row div
{
	margin: 1%;
}

#footer .links
{
	width: 23%;
	height: 100px;
	float:left;
	text-align:center;
	background-color: #FFCC00;
}