#cover
{
	background-color: #990000;
	padding-top: 1%; 
}

#cover div
{
	margin: 1% 1% 0% 1%;
}

#cover #mainImage
{
	background-color: #FFCC00;
	margin-top: 0%;
	overflow: auto;
}

#cover #mainImage #text
{
	float:left;
}

#cover #mainImage #label
{
	float:right;
}

#cover #images
{
	overflow: auto;
	margin: 0%;
	padding: 0%;
}

#cover .block
{
	width: 33%;
	float:left;
	text-align:center;
}