#cover
{
	padding-top: 0%;
}

#cover #mainImage
{
	overflow: auto;
	height: 200px;
	margin-bottom: 1%;
}

#cover #mainImage .text
{
	float:left;
}

#cover #mainImage .label
{
	float:right;
}

#cover #images
{
	overflow: auto;
}

#cover #images .block
{
	width: 30%;
	margin-right: 5%;
	float:left;
	text-align:center;
}

#cover #images .block:last-child
{
	margin-right: 0%;
}

#cover #images .image
{
	height: 100px;
}